# Python
.pytest_cache
__pycache__/
*.bak
.cache/

# Miscellaneous
*.swp
docs/_build
docs/*.rst
!docs/index.rst

# Compiled Python files
*.pyc

# VIM settings
.vimrc

# Audio files
*.ac3
*.adx
*.aiff
*.alaw
*.asf
*.au
*.avi
*.eac3
*.f32be
*.f32le
*.f64be
*.f64le
*.ffmetadata
*.flac
*.flv
*.g722
*.mmf
*.mp3
*.mpeg
*.mpegts
*.mulaw
*.nut
*.ogg
*.rm
*.rso
*.s16be
*.s16le
*.s24be
*.s24le
*.s32be
*.s32le
*.s8
*.smjpeg
*.sox
*.spdif
*.swf
*.u16be
*.u16le
*.u24be
*.u24le
*.u32be
*.u32le
*.u8
*.voc
*.wav
